<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
    </configSections>
    <unity  xmlns="http://schemas.microsoft.com/practices/2010/unity">
        <alias alias="IDependee" type="unitykram.IDependee, unitykram" />
        <alias alias="IDependency" type="unitykram.IDependency, unitykram" />
        <containers>
            <container>
                <register type="IDependee" mapTo="unitykram.Dependee, unitykram">
                    <property name="Dependency" />
                </register>
                <register type="IDependency" mapTo="unitykram.Dependency, unitykram" />
            </container>
        </containers>
    </unity>
</configuration>